.container{
  display: flex;
  flex-direction: column;
}
.editor{
  display: flex;
  gap: 20px;
  height: 300px;
  /* position: relative; */
}
.button,.addbutton{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.addbutton{
  border-color: #63c744;
  height: 35px;
  width: 35px;
}
.image:hover{
  background-color: white;
}

.add{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent;
  /* position: absolute; */
  z-index: 999;
  /* width: 100%; */
  /* left: 50px; */
}
.image{
  padding: 1px;
}
.Input{
  padding: 30px;
  font-size: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
}
.category{
  width: max-content;
  margin: 5px 0px 35px 25px;
  background-color: rgb(227, 231, 231);
  padding: 7px;
  border-radius: 5px;
  font-size: 15px;
}
.textArea{
  width: 100%;
  background-color: rgb(128, 128, 128);
  border-radius: 20px;
}
.publish{
  margin-left: 55px;
  margin-top: 40px;
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  background-color: #2e7c2e;
  border-radius: 10px ;
  width: max-content;
  color: white;
  cursor: pointer;
}



.select{
  margin-bottom: 50px;
  padding: 10px 20px;
  margin-left: 50px;
  width: max-content;
}