.title{
  background-color: rgba(70, 121, 47, 0.774);
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-transform: capitalize;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.row{
  display: flex;
  flex: 1;
}
.heading{
  font-size: 50px;
}
.coloum{
  display: flex;
  flex-direction: column;
  flex: 1;
}
