

.title{
  margin: 50px 0px;
}

.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.category{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 60px;
  text-transform:   capitalize;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}

.category:nth-child(1){
  background-color: rgb(118, 201, 201);

}
.category:nth-child(2){
  background-color: rgb(133, 218, 128);
}
.category:nth-child(3){
  background-color: rgb(252, 184, 138);
}
.category:nth-child(4){
  background-color: rgb(163, 163, 255);
}
.category:nth-child(5){
  background-color: rgb(241, 135, 135);
}
.category:nth-child(6){
  background-color: rgb(176, 182, 101);
}

.image{
  border-radius: 50px;
}

@media screen and (max-width:1280px) {
  .category{
     width: 20%;
  }
}
@media screen and (max-width:1024px) {
  .category{
     width: 30%;
  }
}
@media screen and (max-width:768px) {
  .category{
     width: 45%;
  }
}
@media screen and (max-width:640px) {
  .category{
     width: 100%;
  }
}